<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>Portfolio</title>
  </head>
  <body>
    <div class="frame">
      <div class="main_frame">
        <div class="left_frame">
          <div class="left_1">
            <div class="left_1_image_box">
              <img
                src="/author/images/profile..jng"
                width="156"
                height="142"
                alt=""
              />
            </div>
            <div class="left_1_name_box"><%=user.name%></div>
            <div class="left_1_job_box"><%=user.profession%></div>
            <div class="left_1_icon_container">
              <a class="link_href" href="">
                <div class="icon">
                  <img src="/author/icon/fbicon.png" class="icon-1" alt="" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="/author/icon/instaicon.png" class="icon-1" alt="" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img
                    src="/author/icon/youtubeicon.png"
                    class="icon-1"
                    alt=""
                  />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="/author/icon/linkedin.png" class="icon-1" alt="" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="/author/icon/twtricon.png" class="icon-1" alt="" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="/author/icon/strange.png" class="icon-1" alt="" />
                </div>
              </a>
            </div>
          </div>
          <div class="marginer"></div>

          <div class="left_2">
            <div class="age_details">
              <div class="age">Age:</div>
              <div class="age_txt">33</div>
            </div>

            <div class="residency_details">
              <div class="residency">Residence:</div>
              <div class="cur_res">Seoul, S.Korea</div>
            </div>

            <div class="freelance_sec">
              <div class="freelancing">Freelance:</div>
              <div class="freelance_txt">Availabe</div>
            </div>

            <div class="address_sec">
              <div class="origin_address">Address:</div>
              <div class="address_txt">Tashkent, Uzbekistan</div>
            </div>
          </div>
          <div class="marginer"></div>

          <div class="left_3">
            <div class="language_title">Languages</div>

            <div class="language_container">
              <div class="language_txt">English</div>
              <div class="language_txt">70%</div>
            </div>
            <div class="percent_bar_main">
              <div class="percent_bar"></div>
            </div>

            <div class="language_container">
              <div class="language_txt">Korean</div>
              <div class="language_txt">80%</div>
            </div>
            <div class="percent_bar_main">
              <div class="percent_bar_2"></div>
            </div>

            <div class="language_container">
              <div class="language_txt">Uzbek</div>
              <div class="language_txt">99%</div>
            </div>
            <div class="percent_bar_main">
              <div class="percent_bar_3"></div>
            </div>
          </div>
          <div class="marginer"></div>

          <div class="left_4">
            <div class="language_title">Skills</div>

            <div class="language_container">
              <div class="language_txt">HTML</div>
              <div class="language_txt">70%</div>
            </div>
            <div class="percent_bar_main">
              <div class="percent_bar_4"></div>
            </div>

            <div class="language_container">
              <div class="language_txt">CSS</div>
              <div class="language_txt">70%</div>
            </div>
            <div class="percent_bar_main">
              <div class="percent_bar_5"></div>
            </div>

            <div class="language_container">
              <div class="language_txt">JS</div>
              <div class="language_txt">60%</div>
            </div>
            <div class="percent_bar_container">
              <div class="percent_bar_6"></div>
            </div>
            <div class="language_container">
              <div class="language_txt">ReactJS</div>
              <div class="language_txt">25%</div>
            </div>
            <div class="percent_bar_container">
              <div class="percent_bar_7"></div>
            </div>
            <div class="language_container">
              <div class="language_txt">NodeJS</div>
              <div class="language_txt">50%</div>
            </div>
            <div class="percent_bar_container">
              <div class="percent_bar_8"></div>
            </div>
          </div>
          <div class="marginer"></div>

          <div class="left_5">
            <div class="language_title">Extra Skills</div>
            <div class="extra_skill_main">
              <img
                src="/author/icon/icone.svg"
                alt=""
                height="15px"
                width="15px"
              />
              <div class="skill_text">Bootstrap, Materialize</div>
            </div>
            <div class="extra_skill_main">
              <img
                src="/author/icon/icone.svg"
                alt=""
                height="15px"
                width="15px"
              />
              <div class="skill_text">Sass,Less</div>
            </div>
            <div class="extra_skill_main">
              <img
                src="/author/icon/icone.svg"
                alt=""
                height="15px"
                width="15px"
              />
              <div class="skill_text">Webpack, Gulp, Grunt</div>
            </div>
            <div class="extra_skill_main">
              <img
                src="/author/icon/icone.svg"
                alt=""
                height="15px"
                width="15px"
              />
              <div class="skill_text">GIT Knowledge</div>
            </div>
          </div>
          <div class="marginer"></div>
        </div>

        <div class="midd_frame">
          <div class="pointer_container">
            <div class="desc_container">
              <div class="job_title">Doctor neurologists in OHSU Hospital</div>
  
              <div class="job_desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et,
                volutpat feugiat placerat lobortis. Natoque rutrum semper sed
                suspendisse nunc lectus.
              </div>

              <button class="hire_me_btn">HIRE ME →</button>
            </div>
            <img src="images/prof2pic.svg" alt="" class="profile_pic" />
          </div>

          <div class="my_service_container">
            <div class="service_title">My services</div>
            <div class="service_text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit. lorem
              ipsum
            </div>
          </div>

          <div class="mid_frame_skill_sec">
            <div class="mid_frame_skill_container">
              <img
                src="/author/btn_icon/coding.png"
                alt=""
                class="mid_frame_skill_icon1"
              />
              <div class="mid_frame_skill_title">Web Devolopment</div>
              <div class="mid_frame_skill_txt">Blog, E-Commerce</div>
            </div>

            <div class="mid_frame_skill_container">
              <img
                src="/author/btn_icon/illustration.svg"
                alt=""
                class="mid_frame_skill_icon1"
              />
              <div class="mid_frame_skill_title">UI/UX design</div>
              <div class="mid_frame_skill_txt">Mobile app, website design</div>
            </div>

            <div class="mid_frame_skill_container">
              <img
                src="/author/btn_icon/microphone.png"
                alt=""
                class="mid_frame_skill_icon1"
              />
              <div class="mid_frame_skill_title">Sound design</div>
              <div class="mid_frame_skill_txt">Voice Over, Beat Making</div>
            </div>
          </div>

          <div class="mid_frame_skill_sec">
            <div class="mid_frame_skill_container">
              <img
                src="/author/btn_icon/game-devop.png"
                alt=""
                class="mid_frame_skill_icon1"
              />
              <div class="mid_frame_skill_title">Game design</div>
              <div class="mid_frame_skill_txt">
                Character Design, Props & Objects
              </div>
            </div>

            <div class="mid_frame_skill_container">
              <img
                src="/author/btn_icon/photographer.png"
                alt=""
                class="mid_frame_skill_icon1"
              />
              <div class="mid_frame_skill_title">Photography</div>
              <div class="mid_frame_skill_txt">
                Portrait, Product Photography
              </div>
            </div>

            <div class="mid_frame_skill_container">
              <div class="mid_frame_skill_txt1">Advertising</div>
              <div class="mid_frame_skill_title1">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae
                nulla diam in ac dictum a urna viverra morbi.
              </div>
              <div class="mid_frame_skill_btn">ORDER NOW</div>
            </div>
          </div>
        </div>

        <div class="right_frame">
          <a class="link_href" href="">
            <div class="icon-4">
              <img src="/author/btn_icon/contrast.png" class="icon-2" alt="" />
            </div>
          </a>

          <div class="right_frame_btn_container">
            <a class="link_href" href="">
              <div class="icon-4">
                <img src="/author/btn_icon/home.png" class="icon-2" alt="" />
              </div>
            </a>
            <a class="link_href" href="">
              <div class="icon-4">
                <img
                  src="/author/btn_icon/services.png"
                  class="icon-2"
                  alt=""
                />
              </div>
            </a>

            <a class="link_href" href="">
              <div class="icon-4">
                <img src="/author/btn_icon/cv.png" class="icon-2" alt="" />
              </div>
            </a>

            <a class="link_href" href="">
              <div class="icon-4">
                <img
                  src="/author/btn_icon/portfolio.png"
                  class="icon-2"
                  alt=""
                />
              </div>
            </a>

            <a class="link_href" href="">
              <div class="icon-4">
                <img src="/author/btn_icon/blog.png" class="icon-2" alt="" />
              </div>
            </a>

            <a class="link_href" href="">
              <div class="icon-4">
                <img src="/author/btn_icon/contact.png" class="icon-2" alt="" />
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
